EXPO_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmeWpncW9nbG53dndmYWhsdnR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDkxMDI5MDYsImV4cCI6MjAyNDY3ODkwNn0.C2mgaAm_ryL6OL8icxRov8O4QLiJfDpaI-V0Zih6FPU
EXPO_SUPABASE_API_URL=https://efyjgqoglnwvwfahlvtz.supabase.co